html {
  -webkit-user-select: none;
  user-select: none;
  pointer-events; none;
  touch-action: none;
}

body {
  background: black;
  margin: 0;
  color: white;
  overflow: hidden;
  font: 18px sans-serif;
}

html, body, #room {
  height: 100%;
}

#room {
  overflow: hidden;
  position: relative;
}

.door {
  --depth: 0vw;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
}

.door iframe {
  display: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  pointer-events; none;
}

.instructions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.instructions h1 {
  font-size: 1.8rem;
}
.instructions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.instructions li {
  padding: 1rem 0;
}
.instructions strong {
  background: #ffe626;
  color: black;
  padding: 3px 6px;
  border-radius: 4px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}
.instructions button {
  font-size: 2rem;
  padding: 5px 20px;
}

.instructions.active { /*eozin*/
  display: block;
}

#glRoom {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  pointer-events: none;
  border: none;
}
