h2 {
  max-width: 14em;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1.1em;
}

div {
    display: block;
}

#seal {
  width: 70px;
  height: 70px;
  display: block;
  margin: 1em auto;
}

a:link, a:visited {
  color: #00c;
}

a:active {
  color: #f0f;
}

.nb {
  white-space: nowrap;
}

.nw {
  white-space: nowrap;
}

.imp {
  font-weight: 500;
  white-space: nowrap;
}

hr {
  width: 50%;
  border: none;
  border-top: 1px solid #aaa;
}

aside {
  margin: 1em 1em;
  background: #ffd;
  border: 1px solid #555;
  text-align: left;
  padding: 0.5em;
  font-size: 0.9em;
}

aside ul, aside h3, aside li {
  margin: .25em 0;
}

@media only screen and (max-width: 600px) {
  html {
    padding: 0 1em;
  }
}
