html {
  font: 14px system-ui;
}

#guests {
  list-style: none;
  padding: 0;
}

#guests > li {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0.25em;
}

#guests > li:not(:last-child) {
  border-bottom: none;
}

#guests .guestId {
  background: #88f;
  color: white;
  padding: 0.15em 0.5em;
  margin-right: 0.5em;
  border-radius: 0.25em;
  width: 1em;
  text-align: center;
}

.unfresh {
  transition: opacity 2s linear;
  opacity: 0.3;
}
